a{
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.sticky-aside{
  position: sticky;
  top: 5.3rem;
  left: 0;
  height: calc(100vh - 5.3rem);
  overflow: auto;
}

.active-link{
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}



@media screen and (max-width:992px) {
  
  .sticky-aside{
    position: static;
    border: 1px solid red;
  }

}